
@{
    ViewData["Title"] = "Create";
}

<h2>Create product</h2>
<form action="addproduct" method="post">
    <table class="table">
        <thead>
        </thead>
        <tbody>
            <tr>
                <td>
                    Product Name:
                </td>
                <td>
                    <input name="name" size="50" />
                </td>
            </tr>
            <tr>
                <td>
                    Product Price:
                </td>
                <td>
                    <input name="price" />
                </td>
            </tr>
            <tr>
                <td></td>
                <td><input class="btn btn-success" type="submit" value="Add" /></td>
            </tr>
        </tbody>
    </table>
</form>